.form_container {
    margin: auto;
    margin-top: 30px;
    background-color: var(--cor--primaria);
    display: flex;
    flex-direction: column;
    color: white;
    width: 300px;
    padding: 20px;
    border-radius: 7px;
    padding-top: 10px;
}

.text {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 500;
}

.input {
    margin-top: 5px;
    color: black;
    padding: 3px;
    padding-left: 8px;
    font-size: 17px;
}

.button {
    margin: auto;
    margin-top: 20px;
    background-color: rgb(250, 221, 135);
    color: black;
    width: fit-content;
    border-radius: 5px;
    padding: 8px;
    font-weight: 500;
}